body,html {
  padding: 0;
  margin: 0;
  background-color: #f5efe3;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Nunito', sans-serif;
}

.navBar {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  padding-top: 25px;
  padding-left: 250px;
  padding-right: 250px;
  justify-content: space-around;
}

.navLink {
  font-size: 25px;
  display: flex;
}

.navLink a {
  display: flex;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

.navLink a:hover {
  background-color: black;
  color: white;
}

.current {
  font-size: 25px;
  display: flex;
}

.current a {
  display: flex;
  color: black;
  text-align: center;
  text-decoration: none;
}

.title{
  display: flex;
  font-size: 110px;
  font-weight: bold;
  justify-content: center;
  margin-top: 100px;
}

.intro {
  margin-top: 90px;
  margin-bottom: 120px;
}

.intro p:first-child {
  text-indent: 2em;
  font-size: 22px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'PT Sans', sans-serif;
}

.intro p:last-child {
  margin-top: 90px;
  text-align: center;
  font-family: 'Shadows Into Light';
  font-size: 28px;
}

.subtitle {
  margin-left: 275px;
  font-size: 40px;
}

.tips {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: -30px;
  font-size: 22px;
  margin-bottom: 60px;
}

.readmore {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-size: 25px;
}
.readmore a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

.readmore a:hover {
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 0;
  width: 100%;
  color: black;
  justify-content: center;
}
